<%- include('partials/head') %>
<%- include('partials/header') %>
        <main>
            <div class="row">
                <h2><%= title %></h2>
                <h4>by <%= author %></h3>
                <p><%= content %></p>
            </div>
        </main>
<%- include('partials/footer') %>