<%- include('partials/head') %>
<%- include('partials/header') %>
        <main>
            <h2><%= title %></h2>
            <h4>by <%= author %></h3>
            <p><%= content %></p>
        </main>
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>